<html lang="en" xmlns:th="http://www.thymeleaf.org">

<table th:each="item:${varian}" class="table">
	<tr>
		<td>Initial</td>
		<td th:text="${item.Initial}"></td>
	</tr>
	<tr>
		<td>Name</td>
		<td th:text="${item.Name}"></td>
	</tr>
	<tr>
		<td>Active</td>
		<td><input type="checkbox" th:checked="${item.Active}" disabled></td>
	</tr>
	<tr>
		<td>Category</td>
		<td th:text="${item.Category.Name}"></td>
	</tr>
	<tr>
		<td align="right"><button onclick="javasript:window.open('/varian/index','_self')" class="btn btn-primary">Cancel</button></td>
		<td align="left"><button th:value="${item.Id}" onclick="del(this.value)" class="btn btn-danger">Delete</button></td>
	</tr>
</table>

<script>
function del(id){
	window.open('/varian/del/'+id,'_self')
}
</script>

</html>