<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form th:action="@{~/varian/save}" th:object="${varian}" method="post">
	<input type="hidden" th:field="*{Id}">
	<table class="table">
		<tr>
			<td>Category</td>
			<td>
				<select class="form-select" th:field="*{CategoryId}">
					<option th:each="item : ${category}" th:value="${item.Id}" th:text="${item.Name}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Initial</td>
			<td><input type="text" th:field="*{Initial}" class="form-control"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" th:field="*{Name}" class="form-control"></td>
		</tr>
		<tr>
			<td>Active</td>
			<td><input type="checkbox"th:field="*{Active}"> Active?</td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit" class="btn btn-danger">Simpan</button></td>
		</tr>
	</table>
</form>
</html>