<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>POS289::Home</title>
</head>
<body>

<div layout:fragment="content">
<h1>Welcome</h1>
<h2 th:text="${sfullname}"></h2>
</div>

</body>
</html>